<section class="nav-button">
    <div class="topnav">
        <div class="topnav-centered">
            <ul>
                <li><a href="#angola">Angola</a></li>
                <li><a href="#persa">Persa</a></li>
                <li><a href="#siames">Siamés</a></li>
                <li><a href="#criollo">Criollo</a></li>
                <li><a href="#bobtail">Bobtail Japonés</a></li>
                <li><a href="#birmano">Birmano</a></li>
            </ul>
        </div>
    </div>

    <div class="logo">
        <img src="assets/images/fat-cat.png" alt="cat-logo" height="36" width="84">
    </div>

    <button class="btn"><img class="search-icon" src="/assets/images/magnifier.svg" width="14px" height="14px"></button>

    <form class="buscador">
        <input type="text" placeholder="Search Docs" name="search2">
    </form>

    <div class="download-button">
        <a id="downloadButton" class="button" href="about:blank">Download</a>
    </div>
</section>