<div class="barrasuperior">
  <p class="mensajesuperior">
    <a href="abour:blank">Cats</a> rules
  </p>
</div>

<div class="inicio">
  <div class="container">
    <div class="textoencabezado">

      <h1>Loves this Meow<br>
        Download Now
      </h1>
      <p id="parrafo">
        Meet some awesome cat
      </p>
      <div class="download-button">
        <a id="downloadinicio" class="button" href="about:blank">Download</a>
      </div>
    </div>
    <img src="/assets/images/cat-inicio.jpg" alt="imagen gatos inicio">
  </div>
</div>